{# 
    MagicMirror² 
    Module: MMM-AirQuality
 
    By Ira theobold https://github.com/bluerhodfa
    MIT Licensed.

 #}

<div class="small light small">
    {% if message %}
        {{ message|safe }}
    {% elif loaded %}
        <div style="color: {{ color }}"><i class="fa-solid fa-smog"></i> {{ impact }}{% if showIndex %} ({{ index }}){% endif %}</div>
            {% if showLocation %}
        <div class="xsmall">{{ city }}</div>
            {% endif %}
        <div>
            <table class="">
                <thead>
                    <tr colspan="2">
                        "Pollutant concentration in μg/m"
                        <sup>3</sup>
                    </tr>    
                </thead>    
                <tbody colspan="2">
                <tr>
                    <td>
                        "SO"
                        <sub>3</sub>
                    </td>
                    <td>
                        "NO"
                        <sub>2</sub>
                    </td>
                    <td>
                        "PM"
                        <sub>10</sub>
                    </td>
                    <td>
                        "PM"
                        <sub>2.5</sub>
                    </td>
                    <td>
                        "O"
                        <sub>3</sub>
                    </td>
                    <td>
                        "CO"
                    </td>
                </tr>
                <tr>
                    <td>{{ so2 }}</td>
                    <td>{{ no2 }}</td>
                    <td>{{ pm10 }}</td>
                    <td>{{ pm2_5 }}</td>
                    <td>{{ o3 }}</td>
                    <td>{{ co }}</td>
                </tr>
                </tbody>    
            </table>
        </div>           
    {% else %}
        <div class="dimmed light small">
            {{ labelLoading|safe }}
        </div>
    {% endif %}
</div>