{#
    MagicMirror²
    Module: MMM-AirQuality

    By Ira theobold https://github.com/bluerhodfa
    MIT Licensed.

 #}


<div class="small light">
    {% if message %}
        {{ message|safe }}
    {% elif loaded %}
        <div class="medium" style="color: {{ colour }}"><i class="fa-solid fa-smog"></i> {{ impact }}{% if showIndex %} ({{ index }}){% endif %}</div>
            {% if showLocation %}
        <div class="small">{{ city }}</div>
            {% endif %}
        {% if showPollutants %}    
        <br>
        <div>
            <table class="small">
                <thead>
                    <tr style="opacity: 1;">
                        Pollutant concentration in μg/m
                        <sup>3</sup>
                    </tr>
                </thead>
                <tbody>
                <tr style="opacity: 1;">
                    <td class="align-left bright">
                        SO
                        <sub>2</sub>
                    </td>
                    <td class="align-left bright">
                        Sulphur Dioxide
                    </td>
                    <td class="align-left bright">
                      {{ so2 }}
                    </td>
                </tr>
                <tr style="opacity: 1;">
                    <td class="align-left bright">
                        NO
                        <sub>2</sub>
                    </td>
                    <td class="align-left bright">
                        Nitrogen Dioxide
                    </td>
                    <td class="align-left bright">
                      {{ no2 }}
                    </td>
                </tr>
                <tr style="opacity: 1;">
                    <td class="align-left bright">
                        PM
                        <sub>10</sub>
                    </td>
                    <td class="align-left bright">
                       Particulates under 10μm
                    </td>
                    <td class="align-left bright">
                      {{ pm10 }}
                    </td>
                </tr>
                <tr style="opacity: 1;">
                    <td class="align-left bright">
                        PM
                        <sub>2.5</sub>
                    </td>
                    <td class="align-left bright">
                       Particulates under 2.5μm
                    </td>
                    <td class="align-left bright">
                      {{ pm2_5 }}
                    </td>
                </tr>
                <tr style="opacity: 1;">
                    <td class="align-left bright">
                        O
                        <sub>3</sub>
                    </td>
                    <td class="align-left bright">
                       Ozone
                    </td>
                </tr>
                <tr style="opacity: 1;">
                    <td class="align-left bright">
                       CO
                    </td>
                    <td class="align-left bright">
                       Carbon Monoxide
                    </td>
                    <td class="align-left bright">
                      {{ co }}
                    </td>
                </tr>
                </tbody>
                </table>
                <table class="small">
                    <thead>
                        <tr style="opacity 1;">
                            Other pollutants that do not affect the AQI calculation:
                        </tr>
                    </thead>
                    <tbody>
                <tr style="opacity: 1;">
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right bright">
                         NH
                        <sub>3</sub>
                    </td>
                    <td class="align-right bright">
                         NO
                    </td>
                </tr>
                <tr style="opacity 1;">
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="align-right">
                        ... 
                    </td>
                    <td class="aligh-right bright"> 
                        {{ nh3 }}
                    </td>
                    <td class="aligh-right bright"> 
                        {{ no }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    {% else %}
        <div class="dimmed light small">
            {{ labelLoading|safe }}
        </div>
    {% endif %}
</div>